@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif; }

.nav {
  background-color: #333232; }
  .nav ul {
    display: flex; }
    .nav ul li {
      list-style: none; }
      .nav ul li a {
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 99%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size .3s; }
        .nav ul li a:hover {
          background-size: 100% 2px; }

h1, h2, h3, h4, h5 {
  font-size: auto;
  line-height: 1em; }

p, nav, div {
  font-size: large;
  line-height: 1.5em; }

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden; }

.card {
  width: 18rem;
  margin-top: 2rem;
  cursor: pointer; }
  .card:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; }

iframe {
  min-height: 40%;
  bottom: 0; }

.images {
  height: 20%; }

.bg-btn, .bg-btnDos, .bg-btnTres {
  background-color: #333232; }
  .bg-btn:hover, .bg-btnDos:hover, .bg-btnTres:hover {
    background-color: #444444; }

.bg-btnDos, .bg-btnTres {
  background-color: white; }

.bg-btnTres:hover {
  background-color: #e2e1e1; }

.accordion-button:not(.collapsed) {
  color: #fff;
  background-color: #333232; }

.accordion-button.collapsed {
  background: white; }

.footer {
  background-color: #333232; }
