@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

h1,
h2,
h3,
h4,
p,
nav,
div{
    font-family: 'Roboto', sans-serif;
}


/* inicia nav */
.nav{
    background-color: #333232;
}
/* termina nav */

/* inicia body */
body{
    /* background-color: #111111; */
    color: black;
    overflow-x: none;
}
/* termina body */

/* inicia card */
.card{
    /* background-color: #333232; */
    width: 18rem;
    margin-top: 2rem;
    color: black;
}
/* termina card */

/* inicia images */
.images{
    width: 20rem;
}
/* termina images */

/* inicia footer */
.footer{
    background-color: #333232;
}
/* termina footer */
