/* inicia fuentes */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

h1,
h2,
h3,
h4,
h5,
p,
nav,
div{
    font-family: 'Roboto', sans-serif;
}
/* termina fuentes */

/* inicia nav */
.nav{
    background-color: #333232;
}
/* termina nav */

html,body{
    height:100%;
}

/* inicia body */
body{
    color: black;
    overflow-x: hidden;
    display:flex;
    flex-direction: column;
}
/* termina body */

/* inicia botones */
.bg-btn:hover{
    background-color: #333232;
}
/* termina botones /*

/* inicia card */
.card{
    /* background-color: #333232; */
    width: 18rem;
    margin-top: 2rem;
    color: black;
    cursor: pointer;
}
/* termina card */

/* inicia images */
.images{
    height: 20;
}
/* termina images */

/* inicia iframe */
iframe{
    min-height: 40%;
    bottom: 0;
}
/* termina iframe */

/* inicia footer */
.footer{
    background-color: #333232;
}

/* termina footer */
