// mixins
@mixin container ($height, $display, $direction, $overflow-x){
    height: $height;
    display: $display;
    flex-direction: $direction;
    overflow-x: $overflow-x;
}

@mixin fonts ($font-size, $line-height){
    font-size: $font-size;
    line-height: $line-height;
    
}

// contenido 
h1, h2, h3, h4, h5{
    @include fonts (auto, 1em)
}

p, nav, div{ 
    @include fonts (large, 1.5em)
}

html{
    @include container(100%, flex, column, hidden)
}

body {
    @extend html
    }

.card{
    width: 18rem;
    margin-top: 2rem;
    color: $mainColor;
    cursor: pointer;
    &:hover{
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
}

iframe{
    min-height: 40%;
    bottom: 0;
}
.images{
    height: 20%;
}

.bg-btn{
    background-color: map-get($map:$colores,$key:'main');
    &:hover{
        background-color: map-get($map:$colores,$key:'hover' );
    }
}

.bg-btnDos{
    @extend .bg-btn;
    background-color: map-get($map:$colores, $key:'second')
}

.bg-btnTres{
    @extend .bg-btnDos;
    &:hover{
        background-color: map-get($map: $colores, $key:'hoverDos') ;
    }
}

//footer
.footer{
    background-color: $mainColor;
}